:root {
    --font-family: Helvetica, Arial, sans-serif;
    --font-size: 10px;
    --font-color: rgb(24, 20, 20);
    --background-color: rgb(236, 236, 225);
    --darkened-background-color: rgb(152, 152, 150)
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opaque {
    opacity: 0.1;
}

.first-page-container {
    max-width: 1000px;
    margin: 0 auto;
}

.scalable {
    transition: 0.2s;
}

.scalable:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.darken {
    transition: 0.2s;

}

.darken:hover {
    background-color: var(--darkened-background-color);
}

.header {
    margin: 2rem 0;
}

.header-logo {
    margin: 0 0 2rem 0;
    font-size: 3rem;
}

.header-text {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
}

.transactions,
.account {
    padding: 2rem;
}

.transactions h2 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0 0 2rem 0;
}

.transactions-fields {
    display: flex;
    justify-content: space-between;
}

.revenues,
.expenses {
    font-size: 1.5rem;
    border: var(--font-color) 1px solid;
    padding: 1rem 3rem;
}

.revenues {
    margin: 0 1rem 0 0;
}

.transaction-list-element {
    font-size: 2rem;
    list-style: none;
}

.account {
    border: var(--font-color) 1px solid;
}

.account h3 {
    padding: 0 0 2rem;
    font-size: 2.5rem;
    text-align: center;
}

.account h5 {
    font-size: 3rem;
    text-align: center;
}


.transaction-actions {
    margin: 2rem 0;
    font-size: 2rem;
    display: flex;
}

.add-transaction,
.delete-all {
    padding: 1rem;
    border: var(--font-color) 1px solid;
}

.add-transaction {
    margin: 0 2rem 0 0;
}

.style {
    display: flex;
    justify-content: center;
}

.circle {
    width: 6rem;
    height: 6rem;
    border: var(--font-color) 1px solid;
    border-radius: 50%;
}



.style-white {
    margin: 0 3rem 0 0;
}

.style-dark {
    background-color: var(--font-color);
}

.second-page-container {
    left: 50%;
    top: 50%;
    height: 500px;
    width: 400px;
    background-color: rgb(212, 212, 182);
    position: fixed;
    border-radius: 5%;
    transform: translate(-50%, -50%);
}


.add-transaction-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#transaction-type,
#transaction-kind {
    width: 150px;
}

.add-transaction-form select,
input {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 3%;
    border: var(--font-color) 2px solid;
    outline: none;
    border: 1px solid #DDDDDD;
}

.add-transaction-form input {
    width: 300px;
    margin: 2rem 0 0 0;
    transition: 0.1s;
}

.add-transaction-form select:focus,
input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}


.add-transaction-form h2 {
    color: rgb(20, 20, 20);
    flex-grow: 1;
    font-size: 2.5rem;
    text-align: center;
    padding: 5rem;
}

.add-position {
    margin: 3rem 0 0 0;
    width: 150px;
    height: 50px;
    font-size: 3rem;
    border-radius: 10%;
    background-color: blueviolet;
    outline: none;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    transition: 0.1s;
}

.add-position:hover {
    transform: scale(1.05);
}