:root {
    --font-family: Helvetica, Arial, sans-serif;
    --font-size: 10px;
    --font-color: rgb(24, 20, 20);
    --background-color: rgb(236, 236, 225);
}
html {
    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}
* {
    margin: 0;
    padding: 0;
}

.first-page-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    margin: 2rem 0;
}

.header-logo {
    margin: 0 0 2rem 0;
    font-size: 3rem;
}

.header-text {
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: space-between;
}

